html{
    scroll-behavior: smooth;
    
}
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 12vh;
    height: 10vh;
    margin-top:1rem;    
    box-shadow: 2px 2px 4px rgb(15, 15, 15) ;
}

nav{
    width: 100%;
    position: fixed;
    
}


.btn{
    background:#F0F2F0;  
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0); 
    background: linear-gradient(to right, #000C40, #F0F2F0); 
    font-family: var(--font-action);
    color: #eee;
    border-radius: 5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    cursor: pointer;
}
.topMenu{
    height: 7.5rem;
    display: flex;
    background-color: #bdbcbc; 
   
}
.topMenu a{
    text-decoration: none;
}

.topMenu li{    
    color: rgb(0, 0, 0) ;   
    text-decoration: none;
    display: block;
    padding: 15px;    
    text-shadow: 2px 2px 4px #0f0f0f;
}  

.topMenu a:first-child{
    margin-right: auto;
    
}
.section1{
    display:flex ;
    height: 50vh;    
    background-image: url(../imagens/photo.jpg);     
    
}

.centralize{
    display: block;
    margin: auto;
    text-align: center;
}
.imagemProjeto{
    width: 25vh;
    height: 25vh;  
    border-radius: 3rem;    
    box-shadow: 0 .1rem .8rem rgba(241, 0, 0, 0.4);
    cursor: pointer;
}
.section2{
    display: flex;
    height: 35vh;
    background-color: rgb(255, 255, 255);
}
.section3{
    display: flex;
    height: 35vh;
    background-color: rgb(211, 211, 211);
}
footer{
    background-color: #e6e0e0;
    padding: 30px;
    color: rgb(12, 11, 11);
}
